.card {
 
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
   
    width: 1000px;
    height: 310px;
}

.card__wrapper {
    padding: 0px;
    display: flex;
}

.card__info {
    font-size: 20px;
    padding: 2px 5px;
    list-style: none;
}

.card__info.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
}

.card__info-title {
    display: block;
    width: 200px;
    float: left;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.card__info-values {
    display: block;
    margin-left: 300px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: grey;
    font-weight: 600;

}

.card__info-btn-wrp {
    display: flex;
}

.card__info-btn {
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
}

.card__info-btn:hover {
    background-color: grey;
    color: white;
}

.employee__img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 80px;
    max-width: 100%;
    height: auto;
    border-radius: 150px;

}

.employee-right__wrapper {
    margin-bottom: 30px;
}

.employee-right__wrapper:after {
    margin-top: 30px;
    content: '';
    background-color: black;
    height: 1px;
    display: block;
}

.card__name {
    font-size: 40px;
    font-weight: 600;
}

.employee-top {}

.card__job-title {
    display: flex;
    font-size: 30px;
    color: grey;
    align-items: center;
}

.card__job-name {
    margin-right: 50px;
    cursor: pointer;
    font-weight: 600;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.card__job-name:hover {
    color: black;
    transition: color .5s ease;
}

.card__plus-svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}


.card__job-popup {
    width: 600px;
    height: 300px;
    z-index: 10;
    border: 1px solid black;
    margin: 0 auto;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 25%;
    padding: 30px;

}

.popup__svg-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
    z-index: 11;
}

.popup__svg-back {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
    z-index: 11;
}

.job-list {
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.job-list:hover {
    background-color: gray;
    color: white;
}

.job-list.active {
    background-color: grey;
    color: white;
}

.jobList__popup {
    padding: 40px !important;
    background-color: #fff;
    position: absolute;
    border: 1px solid black;
    top: -1px;
    left: -1px;
   width: 600px;
   height: 300px;
   align-items: center;

}

.jobInfo__popup {
    padding: 0 0 20px 0 !important;
 
}

.employee-left {
    padding: 0;
}